html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(210, 231, 242);
}

.web{
    list-style: none;
    display: flex;
    justify-content: space-around;
   
}
ul {
    display: flex;
}

li {
    padding: 20px;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: rgb(78, 81, 83);
    font-size: 40px;
} 

.icon {
    display: none;
}




    
@media  only screen and (max-width: 800px) {

   nav {
       margin-left: 100px;
       transition: 3s;
   }
    ul {
        padding-left: 100px;
        display: flex;  
        flex-direction: column;
        
    }

    li {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .icon {
        display: block;
        text-align: right;
    }


    
    
        
    }